<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="admin/_fragments-admin :: head"></head>

<body class="no-skin">
	<!-- 上方功能列 -->
	<th:block th:replace="admin/_fragments-admin :: navbar"></th:block>
	<div class="main-container ace-save-state" id="main-container">
		<!-- 左側選單 -->
		<th:block th:replace="admin/_fragments-admin :: sidebar"></th:block>
		<div class="main-content">
			<div class="main-content-inner">
				<!-- 麵包屑 -->
				<th:block th:replace="admin/_fragments-admin :: breadcrumb"></th:block>
				<!-- 標題 -->
				<div class="page-content">
					<div class="page-header">
						<h1>
							管理
							<small>
								<i class="ace-icon fa fa-angle-double-right"></i>
								文章管理
							</small>
						</h1>
					</div>
					<!-- 查詢 -->
					<div class="row">
						<div class="col-xs-12">
							<!-- PAGE CONTENT BEGINS -->
							<form class="form-horizontal" role="form" method="GET" th:action="@{/admin/blogs/index}">
								<div class="form-group">
									<label class="col-sm-3 control-label no-padding-right" for="form-field-1"> 標題
									</label>
									<div class="col-sm-9">
										<input type="text" name="title" class="col-xs-10 col-sm-5"
											th:value="${title}" />
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-3 control-label no-padding-right" for="form-field-1"> 類別
									</label>
									<div class="col-sm-9">
										<select class="col-xs-10 col-sm-5" name="typeId">
											<option value="-1" th:selected="${typeId == -1}">全部</option>
											<th:block th:each="type : ${typesMap}">
												<option th:value="${type.key}" th:selected="${typeId == type.key}">[[${type.value}]]</option>
											</th:block>
										</select>
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-3 control-label no-padding-right" for="form-field-1"> 是否發佈
									</label>
									<div class="col-sm-9">
										<select class="col-xs-10 col-sm-5" name="published">
											<option value="-1" th:selected="${published == -1}">全部</option>
											<option value="1" th:selected="${published == 1}">是</option>
											<option value="0" th:selected="${published == 0}">否</option>
										</select>
									</div>
								</div>
								<div class="clearfix form-actions center">
									<button class="btn btn-sm btn-info" type="submit">
										<i class="ace-icon fa fa-check bigger-110"></i>
										查詢
									</button>
								</div>
							</form>
						</div>
					</div>
					<div class="hr hr-24"></div>
					<!-- 內容 -->
					<div class="row">
						<div class="col-xs-12">
							<!-- PAGE CONTENT BEGINS -->
							<div class="row">
								<div class="col-xs-12">
									<table id="simple-table" class="table  table-bordered table-hover">
										<thead>
											<tr>
												<th class="center"></th>
												<th class="center">標題</th>
												<th class="center">類別</th>
												<th class="center">點閱數</th>
												<th class="center">是否發佈</th>
												<th class="center">發佈時間</th>
												<th>
													<a class="btn btn-xs btn-success"
														th:href="@{/admin/blogs/createPage}">
														<i class="ace-icon glyphicon glyphicon-plus bigger-120"></i>
													</a>
												</th>
											</tr>
										</thead>
										<tbody>
											<th:block th:if="${pages != null}">
												<tr th:each="blog,status : ${pages.records}">
													<td class="center" th:text="${status.count}"></td>
													<td class="center" th:text="${blog.title}" />
													<td class="center" th:text="${typesMap[blog.typeId]}" />
													<td class="center" th:text="${blog.views}" />
													<td class="center hidden-480">
														<span class="label label-sm"
															th:classappend="${blog.published} ? label-primary : label-warning"
															th:text="${blog.published?'是':'否'}"></span>
													</td>
													<td class="center" th:text="${#dates.format(blog.publishTime, 'yyyy-MM-dd HH:mm')}" />
													<td>
														<div class="btn-group">
															<button class="btn btn-xs btn-info" th:onclick="'updateForm('+${blog.id}+')'">
																<i class="ace-icon fa fa-pencil bigger-120"></i>
															</button>
														</div>
													</td>
												</tr>
											</th:block>
											<th:block th:if="${pages == null}">
												<tr>
													<td class="center" colspan="4" th:text="尚無資料"></td>
												</tr>
											</th:block>
										</tbody>
									</table>
								</div>
								<!-- /.span -->
							</div>
							<th:block th:if="${pages != null}">
								<div class=" text-center">
									<ul class="pagination">
										<li th:classappend="${pages.hasPrevious()} ? '' : 'disabled'">
											<a th:href="@{/admin/blogs/index(pageNumber=1)}">
												<i class="ace-icon fa fa-angle-double-left"></i>
											</a>
										</li>
										<li th:classappend="${pages.hasPrevious()} ? '' : 'disabled'">
											<a th:href="@{/admin/blogs/index(pageNumber=${pages.hasPrevious()?(pages.current-1):pages.current})}">
												<i class="ace-icon fa fa-angle-left"></i>
											</a>
										</li>
										<th:block th:each="pageNumber : ${pageNumbers}">
											<li th:classappend="${pageNumber eq pages.current} ? active : ''">
												<a th:href="@{/admin/blogs/index(pageNumber=${pageNumber})}">[[${pageNumber}]]</a>
											</li>
										</th:block>
										<li th:classappend="${pages.hasNext()} ? '' : 'disabled'">
											<a th:href="@{/admin/blogs/index(pageNumber=${pages.hasNext()
											?(pages.current+1):pages.current})}">
												<i class="ace-icon fa fa-angle-right"></i>
											</a>
										</li>
										<li th:classappend="${pages.hasNext()} ? '' : 'disabled'">
											<a th:href="@{/admin/blogs/index(pageNumber=${pages.pages})}">
												<i class="ace-icon fa fa-angle-double-right"></i>
											</a>
										</li>
									</ul>
								</div>
							</th:block>
							<!-- /.row -->
							<div class="hr hr-18 dotted hr-double"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script type="text/javascript">
		function updateForm(id) {
			location.href = '[[@{/admin/blogs/updatePage/}]]' + id;
		}
	</script>
	<th:block th:replace="admin/_fragments-admin :: script"></th:block>
</body>
</html>