<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="admin/_fragments-admin :: head"></head>
<body class="no-skin">
	<!-- 上方功能列 -->
	<th:block th:replace="admin/_fragments-admin :: navbar"></th:block>
	<div class="main-container ace-save-state" id="main-container">
		<!-- 左側選單 -->
		<th:block th:replace="admin/_fragments-admin :: sidebar"></th:block>
		<div class="main-content">
			<div class="main-content-inner">
				<!-- 麵包屑 -->
				<th:block th:replace="admin/_fragments-admin :: breadcrumb"></th:block>
				<!-- 標題 -->
				<div class="page-content">
					<div class="page-header">
						<h1>
							管理
							<small>
								<i class="ace-icon fa fa-angle-double-right"></i>
								標籤管理
							</small>
						</h1>
					</div>
					<!-- 查詢 -->
					<div class="row">
						<div class="col-xs-12">
							<!-- PAGE CONTENT BEGINS -->
							<form class="form-horizontal" role="form" method="GET" th:action="@{/admin/tags/index}">
								<div class="form-group">
									<label class="col-sm-3 control-label no-padding-right" for="form-field-1"> 標籤名稱 </label>
									<div class="col-sm-9">
										<input type="text" name="tagName" class="col-xs-10 col-sm-5" th:value="${tagName}" />
									</div>
								</div>
								<div class="clearfix form-actions center">
									<button class="btn btn-sm btn-info" type="submit">
										<i class="ace-icon fa fa-check bigger-110"></i>
										查詢
									</button>
								</div>
							</form>
						</div>
					</div>
					<div class="hr hr-24"></div>
					<!-- 內容 -->
					<div class="row">
						<div class="col-xs-12">
							<!-- PAGE CONTENT BEGINS -->
							<div class="row">
								<div class="col-xs-12">
									<table id="simple-table" class="table  table-bordered table-hover">
										<thead>
											<tr>
												<th class="center"></th>
												<th class="center">標籤名稱</th>
												<th>
													<button type="button" class="btn btn-xs btn-success" onclick="addForm()" data-target="#exampleModal">
														<i class="ace-icon glyphicon glyphicon-plus bigger-120"></i>
													</button>
												</th>
											</tr>
										</thead>
										<tbody>
											<th:block th:if="${pages != null}">
												<tr th:each="type,status : ${pages.records}">
													<td class="center" th:text="${status.count}">[[type.name]]</td>
													<td class="center" th:id="'name_'+${type.id}" th:text="${type.name}" />
													<td>
														<div class="btn-group">
															<button class="btn btn-xs btn-info" th:onclick="'updateForm('+${type.id}+')'">
																<i class="ace-icon fa fa-pencil bigger-120"></i>
															</button>
															<button class="btn btn-xs btn-danger" th:onclick="'deleteForm('+${type.id}+')'">
																<i class="ace-icon fa fa-trash-o bigger-120"></i>
															</button>
														</div>
													</td>
												</tr>
											</th:block>
											<th:block th:if="${pages == null}">
												<tr>
													<td class="center" colspan="4" th:text="尚無資料"></td>
												</tr>
											</th:block>
										</tbody>
									</table>
								</div>
								<!-- /.span -->
							</div>
							<th:block th:if="${pages != null}">
								<div class="text-center">
									<ul class="pagination">
										<li th:classappend="${pages.hasPrevious()} ? '' : 'disabled'">
											<a th:href="@{/admin/tags/index(pageNumber=1,tagName=${tagName})}">
												<i class="ace-icon fa fa-angle-double-left"></i>
											</a>
										</li>
										<li th:classappend="${pages.hasPrevious()} ? '' : 'disabled'">
											<a th:href="@{/admin/tags/index(pageNumber=${pages.hasPrevious()?(pages.current-1):pages.current},tagName=${tagName})}">
												<i class="ace-icon fa fa-angle-left"></i>
											</a>
										</li>
										<th:block th:each="pageNumber : ${pageNumbers}">
											<li th:classappend="${pageNumber eq pages.current} ? active : ''">
												<a th:href="@{/admin/tags/index(pageNumber=${pageNumber},tagName=${tagName})}">[[${pageNumber}]]</a>
											</li>
										</th:block>
										<li th:classappend="${pages.hasNext()} ? '' : 'disabled'">
											<a th:href="@{/admin/tags/index(pageNumber=${pages.hasNext()
											?(pages.current+1):pages.current},tagName=${tagName})}">
												<i class="ace-icon fa fa-angle-right"></i>
											</a>
										</li>
										<li th:classappend="${pages.hasNext()} ? '' : 'disabled'">
											<a th:href="@{/admin/tags/index(pageNumber=${pages.pages},tagName=${tagName})}">
												<i class="ace-icon fa fa-angle-double-right"></i>
											</a>
										</li>
									</ul>
								</div>
							</th:block>
							<!-- /.row -->
							<div class="hr hr-18 dotted hr-double"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script type="text/javascript">
		function addForm() {
			$('#formModal').modal('toggle');
			var form = $('#form');
			var addUrl = '[[@{/admin/tags/save}]]';
			form.prop('action', addUrl);
			$("#method").val("POST");
			$("#formTitle").text("新增標籤");
		}

		function updateForm(id) {
			$('#formModal').modal('toggle');
			var form = $('#form');
			var updateUrl = '[[@{/admin/tags/update/}]]' + id;
			var tagName = $("#name_" + id).text();

			$("#tagName").val(tagName);
			$("#method").val("PUT");
			$("#formTitle").text("修改標籤");
			form.prop('action', updateUrl);
		}

		function submitForm() {
			var form = $('#form');
			var name = $('#tagName').val();
			var method = $("#method").val();

			data = {
				name : name
			};

			$.ajax({
				url : form.prop("action"),
				type : method,
				data : data
			}).done(function(res) {
				alert(res);
				location.reload();
			}).fail(function(res) {
				alert(res.responseJSON);
			})
		}

		function deleteForm(id) {
			var tagName = $("#name_" + id).text();
			bootbox
					.dialog({
						message : '<div class="blue lighter bigger">'
								+ '<h4 class="blue">是否要刪除 ' + tagName
								+ ' ?</h4></div>',
						buttons : {
							"danger" : {
								"label" : "刪除",
								"className" : "btn-sm btn-danger",
								"callback" : function() {
									$.ajax(
													{
														url : '[[@{/admin/tags/delete/}]]'
																+ id,
														type : 'DELETE',
														data : {
															id : id
														}
													})
											.done(
													function(res) {
														alert(res);
														location.href = '[[@{/admin/tags/index}]]';
													}).fail(function(res) {
												alert(res.responseJSON);
											})
								}
							},
							"button" : {
								"label" : "取消",
								"className" : "btn-sm"
							}
						}
					});
		}
	</script>
	<th:block th:replace="admin/_fragments-admin :: script"></th:block>
</body>
<!-- 新增頁面 -->
<div class="modal fade" id="formModal" tabindex="-1" role="dialog" aria-labelledby="formModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="widget-header">
				<h4 class="widget-title" id="formTitle">新增</h4>
				<div class="widget-toolbar">
					<a href="#" data-action="close" data-dismiss="modal" aria-label="Close">
						<i class="ace-icon fa fa-times"></i>
					</a>
				</div>
			</div>
			<form id="form" class="form-horizontal" role="form">
				<div class="modal-body">
					<div class="widget-main no-padding">
						<div class="form-group">
							<label class="col-sm-3 control-label no-padding-right" for="form-field-1"> 標籤名稱 </label>
							<div class="col-sm-9">
								<input type="text" id="tagName" name="name" placeholder="Name" class="col-xs-10 col-sm-5" />
							</div>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-sm btn-success" onclick="submitForm()">
						送出
						<i class="ace-icon fa fa-arrow-right icon-on-right bigger-110"></i>
					</button>
				</div>
				<input type="hidden" id="method" />
			</form>
		</div>
	</div>
</div>
</html>