<!doctype html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head(title)">
<meta charset="UTF-8">
<meta name="renderer" content="webkit">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title th:replace="${title}">Title</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}">
<link rel="stylesheet" type="text/css" th:href="@{/css/nprogress.css}">
<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
<link rel="stylesheet" type="text/css" th:href="@{/css/font-awesome.min.css}">
</head>
<th:block th:fragment="editormd-css">
	<link rel="stylesheet" th:href="@{/editor-md/css/editormd.css}">
	<link rel="stylesheet" th:href="@{/editor-md/css/editormd.preview.min.css}">
</th:block>
<body class="user-select">
	<th:block th:fragment="top-header(n)">
		<header class="header">
			<nav class="navbar navbar-default" id="navbar">
				<div class="container">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#header-navbar" aria-expanded="false">
							<span class="sr-only"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<h1 class="logo hvr-bounce-in">
							<a th:href="@{/admin/loginPage}">
								<img src="images/logo.png" alt="">
							</a>
						</h1>
					</div>
					<div class="collapse navbar-collapse" id="header-navbar">
						<ul class="nav navbar-nav navbar-right">
							<li th:classappend="${n==1} ? 'active'">
								<a data-cont="首頁" th:href="@{/index.html}">首頁[[${index}]]</a>
							</li>
							<li th:classappend="${n==2} ? 'active'">
								<a th:href="@{/about.html}">關於</a>
							</li>
							<li th:classappend="${n==3} ? 'active'">
								<a th:href="@{/blog.html}">文章</a>
							</li>
							<li th:classappend="${n==4} ? 'active'">
								<a th:href="@{/tags.html}">標籤牆</a>
							</li>
						</ul>
					</div>
				</div>
			</nav>
		</header>
	</th:block>
	<footer class="footer" th:fragment="footer">
		<div class="container">
			<p>footer</p>
		</div>
		<div id="gotop">
			<a class="gotop"></a>
		</div>
	</footer>
	<th:block th:fragment="script">
		<script src="js/jquery-2.1.4.min.js" th:src="@{/js/jquery-2.1.4.min.js}"></script>
		<script src="js/nprogress.js" th:src="@{/js/nprogress.js}"></script>
		<script src="js/jquery.lazyload.min.js" th:src="@{/js/jquery.lazyload.min.js}"></script>
		<script src="js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
		<script src="js/jquery.ias.js" th:src="@{/js/jquery.ias.js}"></script>
		<script src="js/scripts.js" th:src="@{/js/scripts.js}"></script>
	</th:block>
	<th:block th:fragment="editormd">
		<script src="editor-md/editormd.js" th:src="@{/editor-md/editormd.js}"></script>
		<script src="editor-md/lib/marked.min.js" th:src="@{/editor-md/lib/marked.min.js}"></script>
		<script src="editor-md/lib/prettify.min.js" th:src="@{/editor-md/lib/prettify.min.js}"></script>
		<script src="editor-md/lib/underscore.min.js" th:src="@{/editor-md/lib/underscore.min.js}"></script>
		<script src="editor-md/lib/raphael.min.js" th:src="@{/editor-md/lib/raphael.min.js}"></script>
		<script src="editor-md/lib/flowchart.min.js" th:src="@{/editor-md/lib/flowchart.min.js}"></script>
		<script>
			$(function() {
				var testEditor;
				$(function() {
					testEditor = editormd.markdownToHTML("my-content", {
						htmlDecode : "style,script,iframe",
						taskList : true,
						tex : true, // 默认不解析
						flowChart : true, // 默认不解析
						sequenceDiagram : true, // 默认不解析
						codeFold : true,
					});
				});
			});
		</script>
	</th:block>
</body>
</html>