<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="_fragments :: head(~{::title})">
<title>About page</title>
</head>
<body class="user-select single">
	<!-- #header -->
	<th:block th:include="_fragments :: top-header(2)"></th:block>
	<!-- content -->
	<section class="container">
		<div class="content-wrap">
			<div class="content">
				<header class="article-header">
					<h1 class="article-title">About</h1>
					<div class="article-meta">
						<span class="item article-meta-time">
							<time class="time" data-toggle="tooltip" data-placement="bottom" title="时间：2016-1-4 10:29:39">
								<i class="glyphicon glyphicon-time"></i>
								2016-1-4 10:29:39
							</time>
						</span>
						<span class="item article-meta-source" data-toggle="tooltip" data-placement="bottom" title="来源：第一PHP社区">
							<i class="glyphicon glyphicon-globe"></i>
							第一PHP社区
						</span>
						<span class="item article-meta-category" data-toggle="tooltip" data-placement="bottom" title="栏目：后端程序">
							<i class="glyphicon glyphicon-list"></i>
							<a href="program" title="">后端程序</a>
						</span>
						<span class="item article-meta-views" data-toggle="tooltip" data-placement="bottom" title="查看：120">
							<i class="glyphicon glyphicon-eye-open"></i>
							共120人围观
						</span>
						<span class="item article-meta-comment" data-toggle="tooltip" data-placement="bottom" title="评论：0">
							<i class="glyphicon glyphicon-comment"></i>
							0个不明物体
						</span>
					</div>
				</header>
			<div class="callout callout-primary">
				<h4>Primary Callout</h4>
				This is a primary callout.
			</div>
			</div>
		</div>
	</section>
	<!-- Start footer Area -->
	<footer th:replace="_fragments :: footer"></footer>
	<!-- End footer Area -->
	<th:block th:replace="_fragments :: script"></th:block>
</body>
</html>