<!DOCTYPE html>
<html lang="en" class="no-js" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="_fragments :: head(~{::title})">
<title>About page</title>
</head>
<body>
	<header id="header" th:replace="_fragments :: header(2)"></header>
	<!-- #header -->
	<section class="about-banner">
		<div class="container">
			<div class="row d-flex align-items-center justify-content-center">
				<div class="about-content col-lg-12">
					<h1 class="text-white">關於本站</h1>
					<p class="text-white link-nav">
						<a href="index.html">Home </a>
						<span class="lnr lnr-arrow-right"></span>
						<a href="about.html"> About </a>
					</p>
				</div>
			</div>
		</div>
	</section>
	<section class="home-about-area">
		<div class="container">
			<div class="row align-items-center justify-content-between">
				<div class="col-lg-12 pt-60">
					<h3 class="pt-30">初衷</h3>
					<p></p>
					<p>當初網站的建立，原本只想當作面試的作品，個人blog規模不算太小，很適合用來展示，但也不會太複雜，導致花費很多時間，</p>
					<p>但在開發過程，參考許多 blog ，覺得如果用心經營，當作學習筆記也很方便，</p>
					<p>有些功能不常使用，但每次要用時就必須查完才知道怎麼用，</p>
					<p>於是就決定把這個網站當作學習筆記。</p>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="row align-items-center justify-content-between">
				<div class="col-lg-12 pt-60">
					<h4 class="pt-30">延伸</h4>
					<p></p>
					<p>尋找文章內容時，自己也算重新學習一次，很多時候為了工作方便，只會關心需要的技術，</p>
					<p>在學習過程中，總會有一種原來是這樣的感覺，當初都只是為了完成功能而複製貼上，</p>
					<p>有些技術也經常在面試時被問到，都只能回答表面，因為從沒深入探討原理，</p>
					<p>也藉由這次的機會，決定把內容擴展的更詳細些。</p>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="row align-items-center justify-content-between">
				<div class="col-lg-12 pt-60 pb-70">
					<h4 class="pt-30">期許</h4>
					<p></p>
					<p>由於有加入一些程式設計的討論版，經常看到的問題是，準備就業或是轉職的人在詢問，</p>
					<p>如果想踏入這個領域，必須要具備什麼技能，</p>
					<p>就我來說，自己並不算太認真的學生，直到畢業後開始找工作時，才開始正視這些問題，</p>
					<p>大概花了2年的時間，一邊兼職一邊補習，雖然過程不算痛苦，</p>
					<p>但還是會想說，如果在我大學期間，就能掌握這些技術，或許現在就會有更不一樣的成就</p>
					<p>當然這只是幹話，所以只能期許自己的經驗，能夠幫助其他想踏入這個領域的人。</p>
				</div>
			</div>
		</div>
	</section>
	
	<footer th:replace="_fragments :: footer" class="footer-area section-gap"></footer>
	<!-- End footer Area -->
	<th:block th:replace="_fragments :: script"></th:block>
	
</body>
</html>