<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="_fragments :: head(~{::title})">
<title>About page</title>
</head>
<body class="single">
	<!-- #header -->
	<th:block th:include="_fragments :: top-header(2)"></th:block>
	<!-- content -->
	<section class="container">
		<div class="container-page">
			<div class="content">
				<header class="article-header">
					<h1 class="article-title">About</h1>
				</header>
			<div class="callout callout-primary">
				<h4>Primary Callout</h4>
				This is a primary callout.
			</div>
			</div>
		</div>
	</section>
	<!-- Start footer Area -->
	<footer th:replace="_fragments :: footer"></footer>
	<!-- End footer Area -->
	<th:block th:replace="_fragments :: script"></th:block>
</body>
</html>