<!DOCTYPE html>
<html lang="en" class="no-js" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="_fragments :: head(~{::title})">
<title>About page</title>
</head>
<body>
	<header id="header" th:replace="_fragments :: header(3)"></header>
	<!-- #header -->
	<div class="whole-wrap pt-80">
		<div class="container">
			<div class="section-top-border">
				<div class="row">
					<div class="col-lg-12 col-md-12 text-center">
						<h3 class="mb-30">[[${type.name}]]</h3>
					</div>
				</div>
			</div>
		</div>
	</div>
	<section class="post-content-area">
		<div class="container">
			<div class="row">
				<div class="col-lg-9 posts-list">
					<div class="single-post row" th:each="blog : ${blogs.getRecords()}">
						<div class="col-lg-3  col-md-3 meta-details user-name">
							<span class="lnr lnr-tag"></span>
							<ul class="tags button-group-area">
								<li th:each="tag : ${blogTags['1']}">
									<a href="#" class="genric-btn info circle arrow small">[[${tag.name}]]</a>
								</li>
							</ul>
							<div class="user-details row">
								<p class="date col-lg-12 col-md-12 col-6">
									<a href="#">[[${#dates.format(blog.publishTime, 'yyyy-MM-dd')}]]</a>
									<span class="lnr lnr-calendar-full"></span>
								</p>
								<p class="view col-lg-12 col-md-12 col-6">
									<a href="#">[[${blog.views}]] Views</a>
									<span class="lnr lnr-eye"></span>
								</p>
								<p class="comments col-lg-12 col-md-12 col-6">
									<a href="#">06 Comments</a>
									<span class="lnr lnr-bubble"></span>
								</p>
							</div>
						</div>
						<div class="col-lg-9 col-md-9 ">
							<div class="feature-img">
								<img class="img-fluid" src="img/blog/default.jpg" alt="">
							</div>
							<a class="posts-title" href="blog-single.html">
								<h3>[[${blog.title}]]</h3>
							</a>
							<p class="excert">[[${blog.content}]]</p>
							<a th:href="@{'/blog/'+${blog.id}}" class="genric-btn success">View More</a>
						</div>
					</div>
				</div>
				<div class="col-lg-3 sidebar-widgets">
					<div class="widget-wrap">
						<div class="single-sidebar-widget post-category-widget">
							<h4 class="category-title">Post Catgories</h4>
							<ul class="cat-list" th:each="type : ${types}">
								<li>
									<a href="#" class="d-flex justify-content-between">
										<p>[[${type.name}]]</p>
										<p>[[${type.id}]]</p>
									</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<footer th:replace="_fragments :: footer" class="footer-area section-gap"></footer>
	<!-- End footer Area -->
	<th:block th:replace="_fragments :: script"></th:block>
</body>
</html>