<!DOCTYPE html>
<html lang="en" class="no-js" xmlns:th="http://www.w3.org/1999/xhtml">

<head th:replace="_fragments :: head(~{::title})">
	<title>Index page</title>
</head>

<body>
	<header id="header" th:replace="_fragments :: header(1)"></header>
	<!-- #header -->

	<!-- start banner Area -->
	<section class="banner-area">
		<div class="container">
			<div class="row fullscreen align-items-center justify-content-between">
				<div class="col-lg-6 col-md-6 banner-left">
					<h6>This is me</h6>
					<h1>Philip Gilbert</h1>
					<p>
						You will begin to realise why this exercise is called the Dickens Pattern with reference to the
						ghost showing Scrooge some different futures.
					</p>
					<a href="#" class="primary-btn text-uppercase">discover now</a>
				</div>
				<div class="col-lg-6 col-md-6 banner-right d-flex align-self-end">
					<img class="img-fluid" src="img/hero-img.png" alt="">
				</div>
			</div>
		</div>
	</section>
	<!-- End banner Area -->

	<!-- Start home-about Area -->
	<section class="home-about-area pt-120">
		<div class="container">
			<div class="row align-items-center justify-content-between">
				<div class="col-lg-6 col-md-6 home-about-left">
					<img class="img-fluid" src="img/about-img.png" alt="">
				</div>
				<div class="col-lg-5 col-md-6 home-about-right">
					<h6>About Me</h6>
					<h1 class="text-uppercase">Personal Details</h1>
					<p>
						Here, I focus on a range of items and features that we use in life without giving them a second
						thought. such as Coca Cola. Dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
						incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
						ullamco.
					</p>
					<a href="#" class="primary-btn text-uppercase">View Full Details</a>
				</div>
			</div>
		</div>
	</section>
	<!-- End home-about Area -->


	<!-- start footer Area -->
	<footer th:replace="_fragments :: footer" class="footer-area section-gap"></footer>
	<!-- End footer Area -->

	<th:block th:replace="_fragments :: script"></th:block>

</body>
</html>