<!DOCTYPE html>
<html lang="en" class="no-js" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="_fragments :: head(~{::title})">
<title>Tags page</title>
</head>
<body>
	<header id="header" th:replace="_fragments :: top-header(4)"></header>
	<!-- #header -->
	<section class="container container-page">
		<div class="page-header article-header panel panel-info">
			<h1 class="article-title">標籤牆</h1>
		</div>
		<div class="content">
			<ul class="plinks ptags">
				<th:block th:each="tag : ${tags}">
					<li>
						<a href="" target="_blank"> [[${tag.name}]] </a>
					</li>
				</th:block>
			</ul>
		</div>
	</section>
	<footer th:replace="_fragments :: footer"></footer>
	<!-- End footer Area -->
	<th:block th:replace="_fragments :: script"></th:block>
</body>
</html>